* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Background stuff */
body {
  background: url(assets/bg.jpg);
  width: 100%;
  height: 100dvh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600px;
}

/* blur */
body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100dvh;
  background: rgb(0, 0, 0, 0.15);
  backdrop-filter: blur(15px);
}

/* uilitties */
.regular-txt {
  color: #fff;
  font-weight: 400px;
}

/* main container */
.main-container {
  width: 300px;
  height: 496px;
  padding: 0 18px;
  z-index: 1;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.15),
    rgba(255, 255, 255, 0.15)
  );
  border-radius: 12px;
  backdrop-filter: blur(100px);
}

/* Header input container */
.input-container {
  position: relative;
  margin-bottom: 25px;
}

/* city input container*/
.city-input {
  width: 100%;
  border-radius: 25px;
  padding: 10px 16px;
  margin: 15px 0 0 0;
  border: 3px solid transparent;
  background-color: rgba(0, 0, 0, 0.15);
  padding-right: 50px;
}

.city-input::placeholder {
  color: #fff;
}

/* search btn */
.btn {
  text-decoration: none;
  position: absolute;
  right: 16px;
  top: 22px;
  color: #fff;
  background: transparent;
  display: flex;
  border: none;
  cursor: pointer;
}

/* location-data-container */
.location-data-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.location {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* weather info section */
.weather-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.weather-sumary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-sumary-img {
  width: 120px;
  height: 120px;
}

.weather-sumary-info {
  text-align: end;
}

/* weather-condition-container */
.weather-condition-container {
  display: flex;
  justify-content: space-between;
}

.condition-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.condition-info span {
  font-size: 30px;
}
