* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Background stuff */
body {
  background: url(assets/bg.jpg);
  width: 100%;
  height: 100dvh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600px;
}
